<main class="container">
    <div class="content-box">
        <div class="register-container">           
            <h2>Registro de Cliente</h2>
  
            <div class="input-group">
              <input type="text" placeholder="Nombre completo del Cliente o razón jurídica" [(ngModel)]="cliente.nombre">
            </div>
          
            <div class="input-group">
              <input type="text" placeholder="Documento de Identidad" [(ngModel)]="cliente.documento">
            </div>
          
            <div class="input-group">
              <input type="text" placeholder="Número de Teléfono" [(ngModel)]="cliente.telefono">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Dirección" [(ngModel)]="cliente.direccion">
            </div>
  
            <button class="register-btn" (click)="irAListaUsuarios()">Registrar Cliente</button>
        </div>
    </div>
  </main>