body {
    background: url('https://i.pinimg.com/736x/05/dd/f2/05ddf2b9e9326e060ee7aa72c3322735.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 650px;
    height: 600px;
}

h2 {
    margin-bottom: 10px;
    text-align: left;
}

/* Contenedor del subtítulo y botón "Agregar" */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

h3 {
    color: gray;
    text-align: left;
    margin: 0;
}

.agregar-btn {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.agregar-btn:hover {
    background: darkgreen;
}

.lista-impuestos {
    list-style: none;
    padding: 0;
}

.lista-impuestos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

/* Contenedor de los botones "Modificar" y "Dar de Baja" */
.botones {
    display: flex;
    gap: 5px;

}

.dar-baja-btn {
    background: rgb(204, 34, 34);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.dar-baja-btn:hover {
    background: rgb(189, 122, 122);
}

.modificar-btn {
    background: rgb(218, 141, 41);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.modificar-btn:hover {
    background: #7373b1;
}
