<main class="container">
    <div class="content-box">
      <!-- Botón para cerrar sesión -->
      <div class="logout-container">
        <button type="button" class="logout-button" (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
  
      <h2>Lista de Clientes</h2>
  
      <!-- Búsqueda por Nombre -->
      <div class="search-group">
        <input type="text" id="search" placeholder="Buscar por nombre..." [(ngModel)]="busquedaNombre">
        <button type="submit" id="search-button" class="search-button" (click)="buscarPorNombre()">Buscar</button>
  
        <!-- Búsqueda por ID -->
        <input type="number" id="search-id" placeholder="Buscar por ID..." [(ngModel)]="busquedaId">
        <button type="submit" id="search-id-button" class="search-button" (click)="buscarPorId()">Buscar por ID</button>
      </div>
  
      <button type="submit" class="add-user-button" routerLink="/clientes/register">Agregar Usuario</button>
  
      <table class="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Cédula</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (cliente of clientes; track cliente.idCliente) {
            <tr>
              <td>{{ cliente.idCliente }}</td>
              <td>{{ cliente.nombreLegal }}</td>
              <td>{{ cliente.numeroIdentificacion }}</td>
              <td>{{ cliente.direccion }}</td>
              <td>{{ cliente.telefono }}</td>
              <td>
                <button (click)="modificarUsuario(cliente.idCliente)" class="btn modificar">Modificar Usuario</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </main>
  
  