.modify-container {
    background-color: white;
    padding: 4rem;
    margin: 70px auto 40px auto; /* Centra horizontalmente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    display: block;
    margin-top: 100px;
}

/* Evitar duplicación de estilos en elementos anidados */
.modify-container > .modify-container {
    padding: 0;
    margin: 0;
    box-shadow: none;
    width: 100%;
}

.modify-container h2 {
    margin-bottom: 2.2rem;
    border-bottom: 1.5px solid #b8b8b8;
    padding-bottom: 1.2rem;
    font-size: 2rem;
    text-align: justify;
    color: #555;
}

/* Estilo para los grupos de entradas */
.input-group {
    margin-bottom: 2rem;
    text-align: left;
}

/* Estilo para las etiquetas de entrada */
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #8b8b8b;
}

/* Estilo para las entradas de texto y número */
.input-group input,
.input-group textarea {
    width: 96%;
    padding: 0.5rem;
    border: 1px solid #939393;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-group textarea {
    height: 100px;
    resize: vertical;
}

/* Botones dentro del formulario */
.modify-buttons {
    display: flex;
    margin-top: 1.5rem;
}

/* Estilo para el botón de modificar */
.save-button {
    background-color: #99bada;
    color: whitesmoke;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

/* Estilo para el hover (al pasar el cursor sobre el botón) */
.save-button:hover {
    background-color: #738ca5;
}

.rectangle {
    width: 100%;
    height: 0.5px;
    margin-top: 1.9rem;
    background: #b8b8b8;
    border: 0;
    border-radius: 0;
}
