
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-box {
    background-color: white;
    padding: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
    flex-direction: column;
}

/*
POPIPOPIPOPOPIPO 
POPIPOPIPOPOPIPO 
POPIPOPIPOPOPIPO 
POPIPOPIPOPOPIPO 
POPIPOPIPOPOPIPO 
*/

.content-box h2 {
    margin-bottom: 1.7rem;
    border-bottom: 1.5px solid #b8b8b8;
    padding-bottom: 1.2rem;
    font-size: 2rem;
    text-align: justify;
    color: #555;
}

.vehicle-card {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: left;
}

.vehicle-card h3 {
    border-bottom: 1.5px solid #b8b8b8;
    padding-bottom: 0.7rem;
    margin-bottom: 15px;
    color: #555;
}

.vehicle-card strong {
    margin-bottom: 10px;
    color: #555;
}

.vehicle-card p {
    margin-bottom: 10px;
    color: #838383;
}

.form-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #222;
    border-radius: 5px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
