<div 
  class="exhibicion-container exhibicion-header fade" 
  [ngClass]="{'show': fadeIn}"
  [ngStyle]="{'background-image': 'url(' + modeloActual.imagenHeader + ')'}"
>
  <div class="info-box">
    <h1>{{ modeloActual.nombre }}</h1>
  </div>
</div>

<div 
  class="exhibicion-container exhibicion-descripcion fade" 
  [ngClass]="{'show': fadeIn}"
  [ngStyle]="{'background-image': 'url(' + modeloActual.imagenDescripcion + ')'}"
>
  <div class="info-box info-box-right">
    <h1>Exhibición</h1>
    <p>{{ modeloActual.descripcion }}</p>
  </div>
</div>
